.product{
    display: flex;
    gap:30px;
}
.imageContainer{
    padding: 20px;
    background-color: #D4E5FF;
    min-width: 290px;
    object-fit: contain;
}
.productImage{
    height: 250px;
    width: 250px;
}
.productDescription{
    /* background-color: yellow; */
    padding: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.productTitle{
    font-size: 35px;
}
.productDescription p{
    font-size: 23px;
}
.details{
    background-color: #2E0052;
    border-radius: 26px;
    padding: 10px 40px;
    width: fit-content;
    color: white;
    font-size: 22px;
}